{% for post in site.tags.Charakter %}
  <article>
    <header>
      <span class="date">{{ post.date | date_to_string }}</span>
      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
    </header>
    <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
    <p>{{ post.excerpt }}</p>
    <ul class="actions">
      <li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
    </ul>
  </article>
{% endfor %}
