<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/custom.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/location_map.css" | absolute_url }}" />
<!-- Todo: Create a SASS manifest -->
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>

<meta content="{{ site.title | escape }}" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
{% if post.excerpt %}
<meta content="{{ post.excerpt }}" property="og:description">
{% else %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.image %}
<meta content="{{ site.url }}{{ page.image }}" property="og:image">
{% else %}
<meta content="{{ site.url }}/assets/img/logo-high-resolution.png" property="og:image">
{% endif %}
