{% for post in site.tags.LMoP reversed %}
<article>
  <header>
    {% include de_date.html %}
    <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
  </header>
  <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  <p>{{ post.excerpt }}</p>
  <ul class="actions">
    <li><a href="{{ post.url | absolute_url }}" class="button">Hier lesen</a></li>
    {% if post.homebrewerylink %}
    <li><a href="{{ post.homebrewerylink | absolute_url }}" target="_blank" class="button">D&D Style</a></li>
    {% endif %}
  </ul>
</article>
{% endfor %}
