<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Neues</a></li>
  <li class="{% if page.url contains '/skt/' %} active {% endif %}"><a href="{{ "/skt/" | absolute_url }}">Storm King's Thunder</a></li>
  <li class="{% if page.url contains '/lmop/' %} active {% endif %}"><a href="{{ "/lmop/" | absolute_url }}">Lost Mine of Phandelver</a></li>
  <li class="{% if page.url contains '/charaktere/' %} active {% endif %}"><a href="{{ "/charaktere/" | absolute_url }}">Charaktere</a></li>
  <li class="{% if page.url contains '/questlog/' %} active {% endif %}"><a href="{{ "/questlog/" | absolute_url }}">Questlog</a></li>
  <li class="{% if page.url contains '/karte/' %} active {% endif %}"><a href="{{ "/karte/" | absolute_url }}">Karte</a></li>
</ul>
