<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/lazysizes.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/unpoly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/lodash.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/interactive_map_distances.js" | absolute_url }}"></script>
