{% for post in site.categories.skt %}
  <article>
    <header>
      <span class="date">{{ post.date | date_to_string }}</span>
      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
    </header>
    <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
    <p class="center-justified">{{ post.excerpt }}</p>
    <ul class="actions">
      <li><a href="{{ post.url | absolute_url }}" class="button">Hier lesen</a></li>
      {% if post.homebrewerylink %}
      <li><a href="{{ post.homebrewerylink | absolute_url }}" target="_blank" class="button">D&D Style</a></li>
      {% endif %}
    </ul>
  </article>
{% endfor %}
<article>
<header>
  <h2><a href="{{ '/skt/glossary' | absolute_url }}">Glossar</a></h2>
</header>
</article>
