---
layout: page
title: Glossar zu Storm King's Thunder
tags: [ "Storm King's Thunder", "SKT"]
bodyclasses: glossary
---

<header>
  <h2>Glossar zu Storm King's Thunder</h2>
</header>
<hr>

<h3 class="index">Index</h3>

<div id="index">
  {% assign items = site.skt_glossary | sort: 'title' %}
  <ul>
    {% for item in items %}
    <li><a href="#{{ item.title | downcase | url_encode }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% assign items = site.skt_glossary | sort: 'title' %}
{% for item in items %}
<h3 id="{{ item.title | downcase | url_encode }}">{{ item.title }}</h3>

{% if item.icon %}
<h4 id="{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.icon }}.html %}</h4>

{{ item.content }}
{% elsif item.type %}
<h4 id="{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.type | downcase }}.html %}</h4>

{{ item.content }}
{% else %}
{{ item.content }}
{% endif %}


{% endfor %}
