---
layout: page
title: Glossar zu Storm King's Thunder
tags: [ "Storm King's Thunder", "SKT"]
bodyclasses: glossary
---

<header>
	<h2>Glossar zu Storm King's Thunder</h2>
</header>
<hr>

{% assign items = site.skt_glossary | sort: 'title' %}
{% for item in items %}
<h3 id="{{ item.title | downcase | url_encode }}">{{ item.title }}</h3>

{% if item.icon %}
<h4 id="{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.icon }}.html %}</h4>

{{ item.content }}
{% elsif item.type %}
<h4 id="{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.type | downcase }}.html %}</h4>

{{ item.content }}
{% else %}
{{ item.content }}
{% endif %}


{% endfor %}
